/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: optional;
  src: url('/fonts/poppins-v15-latin-300.woff2') format('woff2');
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url('/fonts/poppins-v15-latin-regular.woff2') format('woff2');
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: optional;
  src: url('/fonts/poppins-v15-latin-500.woff2') format('woff2');
}
/* poppins-500italic - latin */
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 500;
  font-display: optional;
  src: url('/fonts/poppins-v15-latin-500italic.woff2') format('woff2');
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: url('/fonts/poppins-v15-latin-600.woff2') format('woff2');
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url('/fonts/poppins-v15-latin-700.woff2') format('woff2');
}

/* poppins-800 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  font-display: optional;
  src: url('/fonts/poppins-v15-latin-800.woff2') format('woff2');
}
/* poppins-900 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  font-display: optional;
  src: url('/fonts/poppins-v15-latin-900.woff2') format('woff2');
}
